<!DOCTYPE html>
<html
        xmlns:th="https://www.thymelaf.org"
        xmlns:sec="https://www.thymelead.org/thymeleaf-extras-springsecurity5"
>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/responsive.css" />
</head>
<body>
<header th:fragment="header">
    <div class="container">
        <div class="header-left">
            <h1>Cloud</h1>
        </div>
        <div class="header-right">
            <div sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" method="post">
                    <input type="submit" value="Logout">
                </form>


            </div>
            <div sec:authorize="isAnonymous()">
                <ul>
                    <li><a th:href="@{/register}">Register</a></li>
                    <li><a th:href="@{/login}">Login</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
</body>
</html>